@font-face {
	font-family: 'SegoeWPSemilight';
	src: url('../fonts/SegoeWPSemilight.eot');
	src: url('../fonts/SegoeWPSemilight.eot') format('embedded-opentype'),
		url('../fonts/SegoeWPSemilight.woff2') format('woff2'),
		url('../fonts/SegoeWPSemilight.woff') format('woff'),
		url('../fonts/SegoeWPSemilight.ttf') format('truetype'),
		url('../fonts/SegoeWPSemilight.svg#SegoeWPSemilight') format('svg');
}

@font-face {
	font-family: 'SegoeWPLight';
	src: url('../fonts/SegoeWPLight.eot');
	src: url('../fonts/SegoeWPLight.eot') format('embedded-opentype'),
		url('../fonts/SegoeWPLight.woff2') format('woff2'),
		url('../fonts/SegoeWPLight.woff') format('woff'),
		url('../fonts/SegoeWPLight.ttf') format('truetype'),
		url('../fonts/SegoeWPLight.svg#SegoeWPLight') format('svg');
}