sm = "(min-width: 479px)"
xl = "(min-width: 1000px)"
large = "(min-width: 1200px) and (min-height: 700px)"
mlarge = "(min-width: 1350px) and (min-height: 700px)"

retina = "(-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi)"