
// ===============================================
/* 
	proscom.ru
	Simple Communication
*/
// ===============================================


@import "_media"
@import "_fonts"
@import "_tools"
@import "_common"



// ===============================================
//	#layout
// ===============================================
html
	height 100%

.page-body
	height 100%
	background #1d202d
	font-main()

.ilkome
	position relative
	height 100%

.wrapbox
	position relative
	margin 0 auto
	padding 0 10px
	@media sm
		padding 0 20px
	@media md
		padding 0 40px
	@media xl
		padding 0 70px
	@media large
		padding 0 85px
	@media mlarge
		padding 0 90px
		max-width 1366px	

.is-red
	color #A8002C



// ===============================================
//	#welcomebox
// ===============================================
.welcomebox
	position relative
	height 700px
	background url("../img/bg-welcome-1024.png") center center no-repeat
	bgcover()
	@media md
		background url("../img/bg-welcome-1024.png") center center no-repeat
		bgcover()
	@media lg
		height 100%
		min-height 700px
	@media mlarge
		min-height 800px

	.wrapbox
		z-index 2
		@media lg
			height 100%
			min-height 700px
		@media mlarge
			min-height 800px

	.video video
		display none
		@media xl
			display block
			position absolute
			right 0
			bottom 0
			min-width 100%
			min-height 100%
			width auto
			height auto
			z-index 1
	
	.logo
		padding 10px 0 95px 0px
		@media sm
			padding-top 30px
			padding-bottom 95px
		@media md
			padding-top 40px
			padding-bottom 55px
		@media large
			padding-top 50px
	
	.logo a
		display block
		width 192px
		height 79px
		background url("../img/480/logo.png") no-repeat
			
		@media lg
			width 151px
			height 61px
			background url("../img/logo.png") no-repeat
		@media large
			width 189px
			height 76px
			background url("../img/1280/logo.png") no-repeat
		@media mlarge
			width 200px
			height 81px
			background url("../img/1366/logo.png") no-repeat
	
	.content
		width 310px
		height 437px
		margin 0 auto
		background url("../img/480/square-welcome.png") 35px 0 no-repeat
		anim()
		@media sm
			width 350px
		@media md
			width 430px
			height 460px
			background url("../img/square-welcome.png") 85px 0 no-repeat
		@media lg
			position absolute 
			left 50%
			top 50%
			margin-top -220px
			margin-left -210px
		@media large
			height 574px
			margin-top -270px
			margin-left -160px
			background url("../img/1280/square-welcome.png") 0 0 no-repeat
		@media mlarge
			height 612px
			margin-top -270px
			margin-left -170px
			background url("../img/1366/square-welcome.png") 0 0 no-repeat
			
	
	.content__title
		padding 80px 0 0 0
		font-size 50px
		text-transform uppercase
		line-height 54px
		letter-spacing 2px
		anim()
		@media sm
			margin-left -10px
			letter-spacing 4px
		@media md
			margin-left 0
			padding-top 88px
			letter-spacing 6px
			line-height 56px
		@media large
			padding-top 105px
			margin-left -110px
			font-size 70px
			letter-spacing 3px
			line-height 70px
		@media mlarge
			padding-top 115px
			margin-left -120px
			font-size 75px
			letter-spacing 3.5px
			line-height 75px
	
	.content__text
		float right
		position relative
		padding 30px 10px 0 0px
		font-size 20px
		anim()
		@media sm
			margin-right -20px
			letter-spacing -0.5px
			line-height 26px
		@media md
			margin-right 10px
			padding 35px 0 0 200px
			letter-spacing -0.5px
		@media xl
			margin-right 0
			letter-spacing 0px
		@media large
			margin-right -5px
			padding 45px 0 0 145px
			font-size 26px
			line-height 34px
		@media mlarge
			margin-right -35px
			padding 45px 0 0 0px
			font-size 28px
			line-height 36px



// ===============================================
//	#descbox
// ===============================================
.descbox
	overflow hidden
	position relative
	padding 100px 0 90px 0
	@media sm
		padding-bottom 70px
	@media lg
		padding 150px 0			
	@media xl
		padding 0
		height 100%
		min-height 700px
	@media mlarge
		min-height 800px

	.ins
		@media lg
			position relative
			width 660px
			margin 0 auto
		@media xl
			z-index 5
			position absolute 
			left 50% 
			top 50%
			width 900px
			margin-left -450px
			transform translate(0%, -50%)
	
	.wrapbox
		@media xl
			height 100%
			min-height 700px
	
	.bg-right
		@media xl
			position absolute 
			width 50%
			height 100%
			top 0px
			right -20px 
			background url("../img/bg-lines.png")

	.content__info
		position relative
		width 250px
		margin 0 auto
		background url("../img/480/square-info.png") 0px 0px no-repeat
		@media sm
			width 275px
		@media lg
			width auto
			height 460px
			margin-left 0px
			background url("../img/square-info.png") 70px 0px no-repeat
		@media xl
			margin-left 115px
		@media large
			margin-left 120px
			height 574px
			background url("../img/1280/square-info.png") 0px 0px no-repeat
		@media mlarge
			margin-left 95px
			height 612px
			background url("../img/1366/square-info.png") 0px 0px no-repeat
		
		.title
			padding 85px 0 85px 0
			font-size 52px
			text-transform uppercase
			line-height 54px
			letter-spacing 1px
			anim()
			@media sm
				margin-left -5px
				padding 80px 0 85px 0
				letter-spacing 2px
			@media lg
				padding-top 90px
				padding-left 10px
				font-size 55px
				line-height 54px
			@media large
				margin-left -80px
				padding-top 105px
				padding-left 0
				font-size 70px
				line-height 70px
			@media mlarge
				margin-left -90px
				padding-top 115px
				padding-left 0
				font-size 75px
				line-height 75px
				letter-spacing 3.5px
		
		.desc
			width 100px
			padding 0 0 125px 30px
			font-size 19px
			anim()
			@media lg
				position absolute 
				left 100px 
				bottom 30px
				width 100px
				padding 0
				font-size 14px
			@media large
				bottom 35px
				left 40px
				font-size 18px
				line-height 26px
			@media mlarge
				bottom 40px
				left 40px
				font-size 20px
				line-height 26px
	
	.content__text
		padding 0 0px
		font-size 22px
		letter-spacing 0.5px
		line-height 30px
		hyphens auto
		anim()
		@media sm
			padding 0 80px 0 80px
			line-height 29px
		@media lg
			hyphens none
			position absolute 
			left 330px 
			top 95px
			width 450px
			font-size 18px
			line-height 23px
			letter-spacing 1px
		@media xl
			width 450px
			left 430px
			letter-spacing 0px
		@media large
			width 585px
			left 445px
			top 115px
			font-size 22px
			line-height 29px
			letter-spacing 0px
		@media mlarge
			width 585px
			left 440px
			top 120px
			font-size 24px
			line-height 31px
	
		p
			margin-bottom 25px
			@media mlarge
				margin-bottom 30px
			



// ===============================================
//	#jobbox
// ===============================================
.jobbox
	padding-top 100px
	padding-bottom 100px
	position relative
	background #efefef
	color #3B3B3B
	@media sm
		padding-bottom 45px
	@media md
		padding 45px 0 85px 0
	@media large
		padding-top 60px
		padding-bottom 100px
	@media mlarge
		padding-top 65px

.jobinfo
	clearfix()
	padding-bottom 25px
	font-size 19px
	@media sm
		padding-bottom 40px
	@media md
		padding-bottom 40px
	@media large
		padding-bottom 55px
		font-size 22px
	@media mlarge
		padding-bottom 60px
		font-size 24px

	.title
		float left
		padding-right 20px
	.count
		float left
		@media md
			float right 

.jobcontent
	anim()
	@media lg
		padding-left 110px
	@media large
		padding-left 140px
	@media mlarge
		padding-left 150px
	
	h2
		margin-bottom 30px
		font-size 53px
		line-height 40px
		letter-spacing -1px
		@media sm
			padding-bottom 10px
		@media md
			margin-bottom 35px
			font-size 44px
			line-height auto
			letter-spacing -0.5px
		@media large
			margin-bottom 50px
			font-size 56px
		@media mlarge
			margin-bottom 55px
			font-size 60px
		

.jobcontent__meta
	padding-bottom 45px
	@media md
		display inline-block
		padding-bottom 20px
	@media large
		padding-bottom 25px
	
	.count 
		width 100%
		padding-bottom 12px
		border-bottom 2px solid #b3b3b3
		font-size 19px
		@media sm
			width auto
		@media md
			width 95px
			font-size 27px
		@media large
			width 125px
			font-size 34px
		@media mlarge
			width 130px
			padding-bottom 15px
			font-size 36px
	
	.task
		padding-top 12px
		color #858585
		font-size 19px
		text-transform uppercase
		letter-spacing 0.5px
		@media md
			padding-top 12px
			font-size 13px
		@media large
			padding-top 18px
			font-size 17px
			letter-spacing 1px
		@media mlarge
			padding-top 20px
			font-size 18px
			letter-spacing 1px

.jobcontent__text
	margin-right 50px
	font-size 23px
	line-height 28px
	hyphens auto
	anim()
	@media md
		margin-left 95px
		padding-right 95px
		line-height 24px
		font-size 16px
		hyphens none
	@media large
		font-size 18px
		line-height 29px
	@media mlarge
		font-size 20px
		line-height 31px
		
	ul
		margin-left 0
		padding-left 0
		margin-bottom 55px
		@media md
			margin-bottom 40px
		@media large
			margin-bottom 50px
		@media mlarge
			margin-bottom 60px
	
	li
		margin-left 0
		margin-bottom 30px
		padding-left 20px
		@media sm
			padding-left 25px
		@media md
			padding-left 20px
			margin-bottom 22px
		@media large
			margin-left 25px
			padding-left 25px
			margin-bottom 28px
		@media mlarge
			margin-left 30px
			padding-left 28px
			margin-bottom 30px

.jobcontent__text.has-bg
	position relative
	@media md
		margin -50px 140px 45px 80px
		padding 30px 0
	@media large
		margin -65px 165px 60px 90px
		padding 35px 0
	@media mlarge
		margin -65px 180px 70px 100px
	
	ul
		@media md
			margin-left 15px
			margin-bottom 0
		@media large
			margin-top 10px
			margin-left 0px
		@media mlarge
			margin-top 10px
			margin-left -5px
	
	.jobcontent__text-in
		@media md
			z-index 2
			position relative
			padding 20px 20px 10px 0
			background url("../img/bg-lines-grey.png")
	
	.bg-square
		@media md
			position absolute 
			z-index 1
			right -30px 
			top 0px
			width 325px
			height 100%
			border 8px solid #a8002c
		@media large
			width 410px
			border 10px solid #a8002c
		@media large
			width 430px
			border 11px solid #a8002c
			


// ===============================================
//	#feedbackbox
// ===============================================
.feedbackbox
	padding 90px 0 40px 0
	color color-white
	@media sm
		padding-top 75px
	@media md
		padding-top 100px
	@media xl
		padding-top 100px	
	@media large
		padding-top 130px
	@media mlarge
		padding-top 135px
		
	.ins
		padding-bottom 90px
		@media sm
			padding-bottom 100px
		@media lg
			padding 0 110px 90px 110px
		@media large
			padding 0 140px 115px 140px
		@media mlarge
			padding 0 150px 120px 150px
	
	h2
		color color-white
		font-size 44px
		letter-spacing -1px
		@media sm
			font-size 53px
			line-height 64px
			margin-bottom 65px
		@media md
			margin-bottom 15px
			font-size 44px
			line-height 70px
		@media large
			margin-bottom 30px
			font-size 56px
		@media mlarge
			margin-bottom 40px
			font-size 60px
	
	.rowbox-2				
		@media lg
			wrap()
			gutter(20px)
			margin-bottom 0px
		@media large
			gutter(15px)

	.colbox
		@media lg
			margin-bottom 0
			col(2, 1)
	
	.rowbox-2.has-padding
		margin-bottom 20px
		@media lg
			margin-bottom 25px
		@media large
			margin-bottom 40px
		
	.colbox
		@media sm
			margin-bottom 22px
		@media xl
			margin-bottom 0
		
	.input-text
		margin-bottom 5px
		@media sm
			letter-spacing 2px
		@media lg
			margin-bottom 5px
			font-size 19px
			letter-spacing 0px
		@media xl
			margin-bottom 0px
		@media large
			margin-bottom 10px
			font-size 22px
		@media mlarge
			margin-bottom 15px
			font-size 24px
			

	.textarea-text
		@media sm
			letter-spacing 2px
		@media lg
			letter-spacing 0px
		@media large
			font-size 22px
		@media mlarge
			font-size 24px
	
	.action
		padding-top 45px
		@media lg
			padding-top 0px
		@media large
			padding-top 20px
		@media mlarge
			padding-top 30px
			
	a.attachfile
		display block
		margin-top 35px
		margin-bottom 55px
		padding-bottom 15px
		font-size 20px
		letter-spacing 0
		background url("../img/i-plus.png") right center no-repeat
		border-bottom 2px solid #2f354d
		&:hover
			color color-white
			border-color alpha(#fff, .4)
		@media sm
			letter-spacing 2px		
		@media lg
			margin-top 40px
			font-size 18px
			letter-spacing 0px		
		@media large
			margin-top 60px
			font-size 22px
			background url("../img/1280/i-plus.png") right center no-repeat
		@media mlarge
			font-size 24px
			background url("../img/1366/i-plus.png") right center no-repeat

	.hvr-sweep-to-right
		display block
		position relative
		backface-visibility hidden
		transform translateZ(0)
		padding 35px 62px
		font-family font-site-bold
		font-size 19px
		border 2px solid #a8002c
		box-shadow 0 0 0 1px #5e112d
		text-transform uppercase
		transition-property color
		transition-duration 0.3s
		@media lg
			display inline-block
			width auto
			padding 17px 62px
			font-size 13px
		@media large
			padding 22px 80px
			font-size 16px
		@media mlarge
			padding 24px 80px
			font-size 18px
			
		&:before
			content ""
			position absolute
			z-index -1
			top 0
			left 0
			right 0
			bottom 0
			background #a8002c
			transform scaleX(0)
			transform-origin 0 50%
			transition-property transform
			transition-duration 0.3s
			transition-timing-function ease-out
		&:hover, &:focus, &:active
			color white
			border 2px solid #a8002c
			box-shadow 0 0 0 1px #5e112d
		&:hover:before, &:focus:before, &:active:before
			transform scaleX(1)
	
	.copy 
		color #4C5168
		font-size 18px
		text-align center
		@media lg
			font-size 14px
		@media large
			font-size 15px
		@media mlarge
			font-size 16px
			


// ===============================================
//	#formresult
// ===============================================
.formresult
	position relative
	min-height 100%
	background #efefef
	h1
		margin-bottom 50px
		font-size 40px
		@media md
			font-size 58px
		
	p
		margin-bottom 70px
		font-size 18px
		color #3b3b3b
		font-size 18px
		@media md
			font-size 24px
		
	.btn-grey
		display inline-block
		width 100%
		padding 20px 0
		color #3b3b3b
		font-family font-site-bold
		font-size 18px
		text-transform uppercase
		text-align center
		border 2px solid #cacaca
		&:hover
			border-color #3b3b3b
		@media md
			width 330px
			padding 20px 0
			font-size 18px
			
.formresult-in
	padding 10px 20px
	@media md
		padding 50px
	@media xl
		padding 100px
	@media xlarge
		padding 200px