
// ===============================================
/* 
	proscom.ru
	Simple Communication
*/
// ===============================================


@import "_media"
@import "_fonts"
@import "_tools"
@import "_common"



// ===============================================
//	#layout
// ===============================================
html
	height 100%

.page-body
	height 100%
	background #1d202d
	font-main()

.ilkome
	position relative
	height 100%

.wrapbox
	position relative
	margin 0 auto
	padding 0 10px
	@media sm
		padding 0 20px
	@media md
		padding 0 40px
	@media xl
		max-width 1024px
		padding 0 70px

.is-red
	color #A8002C



// ===============================================
//	#welcomebox
// ===============================================
.welcomebox
	position relative
	height 855px
	background url("../img/bg-welcome-1024.png") center center no-repeat
	bgcover()
	@media md
		background url("../img/bg-welcome-1024.png") center center no-repeat
		bgcover()
	@media lg
		height 100%

	.wrapbox
		z-index 2
		@media lg
			height 100%

	.video video
		display none
		@media xl
			display block
			position absolute
			right 0
			bottom 0
			min-width 100%
			min-height 100%
			width auto
			height auto
			z-index 1
	
	.logo
		padding 10px 0 95px 0px
		@media sm
			padding 30px 0 55px 0px
		@media md
			padding 40px 0 55px 0px
	
	.logo a
		display block
		width 192px
		height 79px
		background url("../img/480/logo.png") no-repeat
		@media lg
			width 151px
			height 61px
			background url("../img/logo.png") no-repeat
	
	.content
		width 310px
		height 437px
		margin 0 auto
		background url("../img/480/square-welcome.png") 35px 0 no-repeat
		@media sm
			width 350px
		@media md
			width 430px
			height 460px
			background url("../img/square-welcome.png") 85px 0 no-repeat
		@media lg
			position absolute 
			left 50%
			top 50%
			margin-top -220px
			margin-left -155px
			
	
	.content__title
		padding 80px 0 0 0
		font-size 50px
		text-transform uppercase
		line-height 54px
		letter-spacing 2px
		@media md
			padding 88px 0 0 0
	
	.content__text
		float right
		position relative
		padding 30px 10px 0 0px
		font-size 20px
		@media md
			padding 35px 0 0 200px



// ===============================================
//	#descbox
// ===============================================
.descbox
	overflow hidden
	position relative
	padding 100px 0 90px 0
	@media lg
		padding 150px 0
		.ins
			position relative
			width 660px
			margin 0 auto
	@media xl
		padding 0
		height 100%
		.wrapbox
			height 100%
		.ins
			z-index 5
			position absolute 
			left 50% 
			top 50%
			width 900px
			margin-left -450px
			transform translate(0%, -50%)
		.bg-right
			position absolute 
			width 50%
			height 100%
			top 0px
			right -20px 
			background url("../img/bg-lines.png")

	.content__info
		position relative
		width 250px
		margin 0 auto
		background url("../img/480/square-info.png") 4px 0px no-repeat
		@media lg
			width auto
			height 460px
			margin-left 0px
			background url("../img/square-info.png") 70px 0px no-repeat
			@media xl
				margin-left 110px
		
		.title
			padding 85px 0 85px 0
			font-size 52px
			text-transform uppercase
			line-height 54px
			letter-spacing 1px
			@media lg
				padding-top 90px
				font-size 55px
				text-transform uppercase
				line-height 54px
				letter-spacing 2px
		
		.desc
			width 100px
			padding 0 0 130px 35px
			font-size 19px
			@media lg
				position absolute 
				left 110px 
				bottom 35px
				width 100px
				padding 0
	
	.content__text
		padding 0 0px
		font-size 22px
		letter-spacing 0.5px
		line-height 30px
		hyphens auto
		@media md
			hyphens none
		@media lg
			position absolute 
			left 380px 
			top 85px
			width 300px
			font-size 18px
			letter-spacing 1px
		@media xl
			width 320px
			left 510px 



// ===============================================
//	#jobbox
// ===============================================
.jobbox
	padding-top 100px
	padding-bottom 100px
	position relative
	background #efefef
	color #3B3B3B

.jobinfo
	clearfix()
	padding 0px 0px 25px 0
	font-size 19px
	.title
		float left
		padding-right 20px
	.count
		float left
		@media md
			float right 

.jobcontent
	@media lg
		padding-left 110px
		
	h2
		margin-bottom 30px
		font-size 53px
		line-height 40px
		letter-spacing -1px
		@media md
			margin-bottom 35px
			font-size 44px
			line-height auto
			letter-spacing 0px

.jobcontent__meta
	padding-bottom 45px
	@media md
		display inline-block
		width 100px
		padding-bottom 20px
	
	.count 
		padding-bottom 12px
		border-bottom 2px solid #b3b3b3
		font-size 19px
		@media md
			font-size 27px
	
	.task
		padding-top 10px
		color #858585
		font-size 19px
		text-transform uppercase
		@media md
			padding-top 15px
			font-size 13px

.jobcontent__text
	margin-right 50px
	font-size 23px
	line-height 28px
	hyphens auto
	@media md
		padding-right 100px
		margin-left 100px
		line-height 24px
		font-size 14px
		hyphens none

	ul
		margin-left 0
		padding-left 0
		margin-bottom 55px
		@media md
			margin-bottom 40px
	
	li
		margin-left 0
		margin-bottom 30px
		padding-left 25px
		@media md
			margin-bottom 22px

.jobcontent__text.has-bg
	@media md
		position relative
		margin -50px 70px 45px 80px
		padding 30px 0 30px 0
		
		ul
			margin-left 20px
			margin-bottom 0
		
		.jobcontent__text-in
			z-index 2
			position relative
			padding 20px 20px 10px 0
			background url("../img/bg-lines-grey.png")
		
		.bg-square
			position absolute 
			z-index 1
			right -30px 
			top 0px
			width 325px
			height 100%
			border 8px solid #a8002c



// ===============================================
//	#feedbackbox
// ===============================================
.feedbackbox
	padding 90px 0 40px 0
	color color-white
	@media md
		padding-top 100px
	
	.ins
		padding-bottom 100px
		@media lg
			padding-left 110px
			padding-right 110px
	
	h2
		color color-white
		font-size 44px
	
	a.attachfile
		display block
		margin-top 40px
		margin-bottom 55px
		padding-bottom 15px
		font-size 18px
		background url("../img/i-plus.png") right center no-repeat
		border-bottom 2px solid #2f354d
		&:hover
			color color-white
			border-color alpha(#fff, .4)
	
	.rowbox-2
		@media lg
			wrap()
			gutter(20px)
			margin-bottom 0px
	
			.colbox
				col(2, 1)
	
	.rowbox-2.has-padding
		margin-bottom 20px
	
	.action
		input
			width 100%
			padding 30px
			text-transform uppercase
			@media lg
				width auto
				padding 20px 30px
			
	.copy 
		color #4C5168
		font-size 18px
		text-align center
		@media lg
			font-size 16px
			


.formresult
	position relative
	min-height 100%
	background #efefef
	h1
		margin-bottom 50px
		font-size 40px
		@media md
			font-size 58px
		
	p
		margin-bottom 70px
		font-size 18px
		color #3b3b3b
		font-size 18px
		@media md
			font-size 24px
		
	.btn-grey
		display inline-block
		width 100%
		padding 20px 0
		color #3b3b3b
		font-family font-site-bold
		font-size 18px
		text-transform uppercase
		text-align center
		border 2px solid #cacaca
		&:hover
			border-color #3b3b3b
		@media md
			width 330px
			padding 20px 0
			font-size 18px
			
		
		
		
.formresult-in
	padding 10px 20px
	@media md
		padding 50px
	@media xl
		padding 100px
	@media xlarge
		padding 200px
	