@font-face {
  font-family: 'SegoeWPSemilight';
  src: url("fonts/SegoeWPSemilight.eot");
  src: url("fonts/SegoeWPSemilight.eot") format('embedded-opentype'), url("fonts/SegoeWPSemilight.woff2") format('woff2'), url("fonts/SegoeWPSemilight.woff") format('woff'), url("fonts/SegoeWPSemilight.ttf") format('truetype'), url("fonts/SegoeWPSemilight.svg#SegoeWPSemilight") format('svg');
}
